.ex-1-square {
    transition: background-color 3s;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    transition: width 2s ease-out;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    transition: border-radius 1s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    transition: background-color 1s;
}

.ex-4-square:hover {
    background-color: rgba(255, 0, 0, 0);
}

.ex-5-square {
    transition: transform 1s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}